.form-login {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
	margin-top: 5%;
	display: block;
	align-self: center;
	background-color: #fff;
}
input {
	border-radius: 0px;
}

.login-img {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
