

    <div class="container">
      
        <div class="form-signup">
              <h3>Signup</h3>
              <div class="form-group">

                  <div class="form-row">
                          <div class="col-md-6">
                              <b><label for="name">Full name</label></b>
                              <input type="text" class="form-control" id="name" ngModel name="name">
                          </div>
                                          
                          <div class="col-md-6">
                              <b><label for="email">Email</label></b>
                              <input type="email" class="form-control" id="email" ngModel name="email">
                          </div>
      
                          <div class="col-md-6">
                             <b> <label for="password">Password</label></b>
                              <input type="password" class="form-control" id="password" ngModel name="password">
                          </div>
                                          
                          <div class="col-md-6">
                             <b> <label for="cpassword">Confirm Password</label></b>
                              <input type="password" class="form-control" name="password" ngMdoel >
                          </div>

                          <div class="other-pages col-md-12">
                              <b><a href="/reset_password"> Forget password?</a></b>
                               <b> <a href="/login">Login</a></b>
                          </div>
      
                  
                          <div class="container col-md-12">
                              <hr>
                              <input type="submit" class="form-control btn btn-info btn-sm" value="Signup" >
                        </div>
                  </div>

              </div>

        </div>


    </div>



