
<div class="container">
    <div class="form-reset">
        <h3>Request passwordt reset link!</h3>
        <div class="form-row">
            <div class="col-md-12">
                <label for="email">Email</label>
                <input type="email" id="email" name="name" class="form-control">
            </div>
            <div class="other-pages col-md-12">
                              <b><a href="/sign_up">Signup</a></b>
                               <b> <a href="/login">Login</a></b>
                          </div>
      
            <div class="col-md-12">
                <input type="submit" value="Send Link" class="form-control-btn btn-sm btn-info">
            </div>
            
        </div>
    </div>

</div>